.searchbar {
  :global(.dropdown) {
    position: absolute;
    z-index: 5;
    left: 0;
    font-size: 1em;
    border-right: 1px solid rgb(202, 202, 202);
  }

  :global(.icon) {
    position: absolute;
    z-index: 5;
    right: 0;
    font-size: 1em;
  }

  :global(input[type="text"]) {
    padding-left: 4em;
    border-radius: 0.3em !important;
    line-height: 0;
    &:focus {
      border: 2px solid #f5c518;
    }
  }
}

.searchResults {
  display: none;
  top: 100%;
  margin-top: 5px;
  z-index: 10;
  background-color: #f5c518;
  max-height: 80vh;
  overflow-y: auto;

  & > a > div:hover {
    background-color: #181818;
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    display: block;
  }
}

.searchbarInput:focus {
  + .searchResults {
    display: block;
  }
}
